body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
  .bottom-graph {
    width: min(1400px, calc(100vw - 80px));
    margin: 3rem auto 6rem;
  }

  .bottom-graph .graph {
    width: 100%;
    min-height: 800px;
  }

  .bottom-graph #link-graph {
    width: 100%;
    height: 800px;
  }

  @media (max-width: 800px) {
    .bottom-graph {
      width: calc(100vw - 32px);
      margin: 2rem auto 4rem;
    }

    .bottom-graph .graph {
      min-height: 500px;
    }

    .bottom-graph #link-graph {
      height: 500px;
    }
  }
}
